.container text-center{
    margin-top: 40px;
}


.card-img-top{
    height: 500px;
}

.col{
    height:600px;
}

.m-image{
    width: 100%;
    height:100%
}

.modal-content{
    height: 850px;
    position: absolute;
   right: 50%;
}

.navbar{
   width: 100%;
}



